body {
  display: flex;
}
input[type="checkbox"] {
  margin: 0;
  padding: 0;
  display:block;
  height:12px;
  overflow:hidden
}
table {
  border: 1px solid black;
}
button {
  margin: 10px;
}
#left {
  width: 15%;
  margin: 200px 5px;
}
#right {
  width: 65%;
  margin: 5px 10px 5px 10px;
}